{% extends 'base.html.twig' %}

{% block title %}Lists index{% endblock %}

{% block body %}
    <h1>Lists index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for list in lists %}
            <tr>
                <td>{{ list.id }}</td>
                <td>{{ list.name }}</td>
                <td>{{ list.description }}</td>
                <td>
                    <a href="{{ path('lists_show', {'id': list.id}) }}">show</a>
                    <a href="{{ path('lists_edit', {'id': list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lists_new') }}">Create new</a>
{% endblock %}
